pytest
pandas
scipy
numpy 
scikit-learn
joblib
uvicorn
fastapi
pydantic
wandb
numpy
uvicorn
requests
fastapi
jupyterlab
jupyter
ipywidgets
jupyterlab_widgets
git
pydantic
yaml
pip
wandb
missingno
matplotlib
seaborn
plotly
joblib